syntax: glob
.DS_Store
lib_managed/
lift_proto.db.h2.db
tags
target/
project/boot
project/build/target
project/plugins/src_managed/
plugins/plugins/lib_managed
plugins/plugins/project
project/plugins/src_managed/
plugins/plugins/target